  <h2>Written by</h2>
  <%= @article.user.email %>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Heading:</strong>
  <%= @article.heading %>
</p>

<% if current_user and current_user == @article.user %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>
